{% extends "base.html" %}

{% block title  %}Contact Us{% endblock %}

{% block body %}
<div class="container mt-3 mb-3">
<h1 class="text-center border border-dark fst-italic">CONTACT US</h1>
<form action="/contact/" method="post" class="row g-3">
  {% csrf_token %}
  <div class="col-md-6">
    <label for="firstname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="firstname" name="firstname" required>
  </div>
    <div class="col-md-6">
    <label for="lastname" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="lastname" name="lastname" required>
  </div>
  <div class="col-md-12">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="col-md-6">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="phone" name="phone" required>
  </div>
  <div class="col-md-6">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city" required>
  </div>
  <div class="form-group">
    <label for="content">Ask Your Query :</label>
    <textarea class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
  </div>
    <button type="submit" class="btn btn-primary" id="submit">SUBMIT</button>
</form>
</div>
<div class="container mt-3 mb-2">
<hr>
  <div class="row">
    <div class="col-sm-8">
      <iframe src="https://maps.google.com/maps?q=party%20zone%20pawna%20lake%20camping&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="col-sm-4" id="contact2">
        <h3 class="bg-dark text-white text-center fst-italic">Our Contact Details</h3>
        <hr align="center" width="100%">
        <h4 class="pt-2">Party Zone Pawna Lake Camping</h4>
        <i class="fas fa-globe" style="color:#000"></i>Thakursai-Ajivali Road, Jovan No.3,Tal. Haveli, Dist. Pune, Maharashtra 410406<br>
        <h4 class="pt-2">Phone/Whatsapp No.</h4>
        <i class="fas fa-phone" style="color:#000"></i> +91 8796646534 </a><br>
        <h4 class="pt-2">Email</h4>
        <i class="fa fa-envelope" style="color:#000"></i>partyzonepawnalakecamp@gmail.com</a><br>
      </div>
  </div>
</div>
{% endblock %}