{% extends 'base.html' %}

{% block title%} Party Zone Pawna Lake Camp - FAQ {% endblock %}

{% block body %}
<div class="container mt-3 mb-3">
    <div class="border border-dark">
        <h2 class="text-center bg-dark text-info">Frequently Ask Questions</h2>
        <h5>Q. 1] is pawna lake camping is secure?</h5>
        <h5>Ans: Yes. Pawma Lake is provide best security with services.</h5>
        <hr>
        <h5>Q. 2] How To Reach?</h5>
        <h5>Ans: Pawna Lake Camps are 22 Km away from the hill station of Lonavala and 68 km far away from Pune.</h5>
    </div>
</div>
{% endblock %}