{% extends "base.html" %}

{% block title  %}PARTY ZONE PAWNA LAKE CAMPING {% endblock %}


<style>
    h1 {
    .font-family: 'Bangers', cursive;
    }
</style>

{% load static %}
{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://ik.imagekit.io/partyzone11/mike-erskine-S_VbdMTsdiA-unsplash__1__g3AQ61aSi.jpg" class="d-block" width="1600" height="650" alt="...">
      <div class="carousel-caption d-none d-md-block text-center">
        <h4>WELOCME TO PARTY ZONE PAWNA LAKE CAMPING</h4>
        <p>Camping | Foods | Sports | Music</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://ik.imagekit.io/partyzone11/patrick-hendry-eDgUyGu93Yw-unsplash__1__9-SvM70sws.jpg" class="d-block" width="1600" height="650" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>CAMPING & TENTS</h4>
        <p>We offer you couple tents/sharing tents as per your requirement with safety</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://ik.imagekit.io/partyzone11/ben-duchac-3fJOXw1RbPo-unsplash__1__HiPS62S1K.jpg" class="d-block" width="1600" height="650" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>ENJOY HOLIDAYS WITH PARTY ZONE PAWNA LAKE CAMPING</h4>
        <p>On Weekend we offer you some discount with special package.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div><br><br><br><br><br><br>


<div class="container my-2">
  <h1 class="text-info fst-italic border border-dark text-center bg-dark">WELCOME TO PARTY ZONE PAWNA LAKE CAMPING</h1><br><br><br><br>

    <p class="text-center border border-4">
    <b>Party Zone</b> is the best Campaign which provide you all the Quality Services with Security. Pawna Lake is well known  place where people feel like as they are enjoying in Goa but Pawna lake has it own beauty which make it more glorious than other place. It has such cool environment, Nature Beauty, Wild Climate, Tracking and Much more .
  Must visit to see the Unique Beauty of Pawna Lake.
  </p>
  <br><br><br><br><br><br>


  <div class="col">
      <h1 class="text-center bg-dark text-info fst-italic">PACKAGES</h1>
      <div class="border border-dark mx-5 my-3">
          <h3 class="fw-bold mx-2 my-2 text-center bg-info">Starting Package (Per Person)</h3><br>
          <p class="mx-3">
            - 4PM to next Day 11AM <br><br>
            - Sharing Tents/ Couple Separate Tents <br><br>
            - Evening High Tea, Coffee (With Pakoda) <br><br>
            - Veg BBQ (Per Person 250gm) <br><br>
            - Chicken BBQ (Per Person 250gm) <br><br>
            - Dinner (Veg/Non-Veg Unlimited) <br><br>
            - Common Bonfire Music <br><br>
            - Common Bonfire MusicMorning Breakfast (Tea and Poha or Misalpav or Bread Jam) and more options in paid <br><br>
            - Archery, Dart-Game, Cricket, Football, Volleyball, Badminton, Carrom
          </p>
      </div>


      <div class="border border-dark mx-5 my-3">
          <h3 class="fw-bold mx-2 my-2 text-center bg-info">Special Package (Per Person)</h3><br>
          <p class="mx-3">
            - 4PM to next Day 11AM <br><br>
            - Sharing Tents/ Couple Separate Tents <br><br>
            - Evening High Tea, Coffee (With Pakoda) <br><br>
            - Veg BBQ (Per Person 250gm) <br><br>
            - Chicken BBQ (Per Person 250gm) <br><br>
            - Special Dinner (Veg/Non-Veg Unlimited) <br><br>
            - Special Bonfire with Live Music and Songs <br><br>
            - Common Bonfire MusicMorning Breakfast (Tea and Poha or Misalpav or Bread Jam) and more options in paid <br><br>
            - Archery, Dart-Game, Cricket, Football, Volleyball, Badminton, Carrom
          </p>
      </div>
       <div class="text-center my-3">
           <a href="/contact" class="btn btn-success btn-lg">Book Your Tent Now
           </a>
      </div>
    </div>
<br><br>


<div class="container mt-3 mb-3">
<h1 class="text-center fw-bolder fst-italic bg-dark text-info">Key Features of Campsite</h1>
{% for i in images %}
<div class="row">
  <div class="col">
    <div class="card">
      <img src='/media/{{i.kimg}}' class="card-img-top" alt="...">
      <div class="card-body">
        <h1 class="card-title text-center">{{i.title}}</h1>
        <h3><p class="card-text text-center">{{i.desc}}</p></h3>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
{% endblock %}