{% extends 'base.html' %}

{% block title %} Refund Policy {% endblock %}

{% block body %}
<div class="container mt-2 mb-2">
    <div class="text-info bg-dark border border-dark">
        <h1 class=" mx-2">Refund Policy --></h1>
        <p class="mx-2">
            - Being a customer-centric company, we ensure that you get better experience with us. Therefore, we have designed a customer-friendly refund policy. You need to go through the pointers given below before claiming for refund.<br><br>
            - The check-in time is 4:00 p.m. You are eligible for refund (after 50% deduction as service tax) if cancellations are made 24 hour prior the check-in time.<br><br>
            - Same day cancellations are NOT eligible for refund.<br><br>

            #Reschedule:<br><br>

            Reschedule request made before 24 hours of check-in time will be accepted.<br>
            Reschedule request made on the same day will not be accepted and NO refund will be given.
        </p>
    </div>
    <hr>
    <div class="text-info bg-dark border border-dark">
        <h1 class="mx-2 ">Privacy Policy --></h1>
        <p class="mx-2">
           We understand the augmenting risk of online theft and thus we have a strict privacy policy to ensure our customers’ data safety. We do not share your personal as well professional data with third party. We use the email address provided by you to send promotional newsletters and it is done with your permission. You can unsubscribe from the mail service whenever you wish.
        </p>
    </div>
</div>
{% endblock %}