{% extends 'base.html' %}

{% block title%} Terms and Condition {% endblock %}

{% block body %}
<div class="container mt-2 mb-2">
    <h3>Terms:</h3>
• You are eligible for refund (after 50% deduction as service tax) if cancellations are made 24 hours prior the check-in time.<br><br>
• The tent is provided to the customer once accommodated no change will be done to shift the tent.<br><br>
• In the case of late check-out, you may have to pay extra money.<br><br>
• Smoking is strictly prohibited inside the tents.
   <hr>
    <h3>Conditions:</h3>
    • In case of weather forecasting or government restrictions, certain activities may be cancelled but the team will try to provide you with the other best services.<br><br>
• The staff of Pawna Lake Camps will give you proper guidance for the activities carried out. During any activity, if any minor injury takes place we will provide you with First aid kit.<br><br>
• The client’s participation is voluntary in any activity which he/she wants to perform, “Pawna Lake Camping” is not responsible under any circumstances for injury, accidents or loss of personal property.<br><br>
• The conduct and behaviour of the client should not cause any harm to the other members. Strict actions will be taken against them by the Pawna Lake Camps and they might ask to leave immediately. Under such circumstances, no refunding can be done.
</div>
{% endblock %}